@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource-variable/inter";

:root {
  --foreground-rgb: 0, 0, 0;
  font-family: "Inter Variable", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
